:root {
    --lv4: #ff00a0;
    --lv3: #ffff2f;
    --lv2: #2fff2f;
    --lv1: #20f0ff;

    --primary-color: #f5f5f5;
    --secondary-color: #ffffff;
    --accent-color: #ff1a3f;
    --text-color: #202124;
    --sidebar-bg: black;
    --sidebar-text: #ffffff;
    --border-color: #dadce0;
    --hover-color: #e8f0fe;
    --item-color: #5f6368;
    --folder-bg: #e8f0fe;

    --lv4-a: rgba(255, 0, 160, 0.7);
    --lv1-a: rgba(32, 240, 255, 0.7);
}

.dark-mode {
    --lv4: #ff50c8;
    --lv3: #ffff50;
    --lv2: #50ff50;
    --lv1: #50f0ff;

    --primary-color: #121212;
    --secondary-color: #1e1e1e;
    --text-color: #e0e0e0;
    --sidebar-text: #ffffff;
    --border-color: #333333;
    --hover-color: #2c2c2c;
    --item-color: #b0b0b0;
    --folder-bg: #2a2a2a;

    --lv4-a: rgba(255, 80, 200, 0.7);
    --lv1-a: rgba(80, 240, 255, 0.7);
}